@font-face {
    font-family: "Zelda";
    src: url('fonts/Triforce.ttf');

}

body{
    background-image: url(zelda.jpg);
}


#replay,#btn{
    margin: 0; 
    background-color : #663d05 ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color : #492b11 ;
    left: 5%;
    position: absolute;
    border:none;
    font-weight: bold ;
    border-radius: 30px;
    font-family: 'Zelda'
}
#replay{
    font-size: 190% ;
    width: 20%;
    margin: 35%;
    margin-top: 10%;
    
}
#replay:hover{
    padding: 0 !important;
    color : #20c56d;
}

#btn{
    margin-top: 10%;
    margin-left: 25%;
    font-size: 2em;
    color : white ;
    transition: all .5s;
}


#eventail,#excalibur,#bombe{
    width: 40%;
    height: 10rem;
    margin-top: 15%;
    padding: 1%;
    margin-right: 10px;
    font-size: 1.5em;
    color : white ;
    text-shadow: black 5px 0 10px;
    transition: all .5s;
    font-family: 'Zelda';
}
button:hover{
    filter : drop-shadow(.5rem .5rem 1rem white);
    padding: 4% !important;
    transition: all .5s;
   
}
#btn:hover{
    color : #28ffa9 ;
    padding: 0 !important;
    transition: all .5s;
}
#excalibur{
   
    background-image: url('ciseau.jpg');
    background-size: cover;
}
#bombe{
    margin-left: 1% !important;
    background-image: url('pierre.jpg');
    background-size: cover;
    

}
#eventail{
    background-image: url('feuille.jpg');
    background-size: cover;
}

.res,.res2{
    text-align: center;
    color: #492b11;
    font-family: 'Zelda'
}
h1 span {
    color:red;
}
.res2{
   background-image: url('../../parchemin.webp'); 
   background-size: cover;
   background-repeat: no-repeat;
   width: 60%;
   height: 200px;
   border-radius: 10px;
   margin-left: 20%;
   padding-top: 2%;
   box-shadow: 5px 5px 5px black;
}
#link{
    width: 15%;
    position: relative;
    left: 3%;
}

#linkLoose{
    width: 250px;
    position: relative;
    left: 15%;
    bottom : 0px ;

}

#linkWin{
    width: 200px;
    position: relative;
    left: 20%;
    bottom : 0 ;

}

#linkEgal{
    width: 300px;
    position: relative;
    left: 15%;
    bottom : 0 ;
}


h1{
    margin-bottom: 50px;
    font-family: 'Zelda';
}

span{
    color : #a9aa00
}

vert{
    color : #20c56d ;
    font-weight: bold;
}
#korogus{
    width: 45%;
    position: absolute;
    bottom: 0;
    left: 25%;
}
@media screen and (max-width: 888px){
    #btn{
        margin-top: 6em;
        font-size: 2em;
    }
    #link {
        top: 10em;
        width: 30%;
    }
}
@media screen and (max-width: 723px){
   
}
@media screen and (max-width: 560px){
    
}

@media screen and (max-width: 741px){
    .boutons{
        display: flex;
        flex-direction: column !important;
        padding: 30%;
        padding-top: 0;
        padding-left: 0;
    }
    #eventail,#excalibur,#bombe{
        margin-left: 35% !important;
        width: 80% !important;
        height: 100px;
    }
}

@media screen and (max-width: 540px){
    #korogus{
        width: 100%;
        left:0;
    }
}

@media screen and (max-width: 936px){
    #linkWin,#linkEgal,#linkLoose{
        width: 15%;
    }
}
@media screen and (max-width: 560px){
    #linkWin,#linkEgal,#linkLoose{
        width: 20%;
    }
}

@media screen and (max-width: 473px){
    h2{
        margin-top: 10px;
    }
}